*, ::before, ::after{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.App {
  width:100vw;
  height:100vh;
  padding:5px;
  text-align: center;
  background-image: linear-gradient(#85ccfe, #01477a)
}

.key {
  display: block;
  height:70px;
  width: 70px;
  font-size:1.5em;
}

.keypad{
  display:grid;
  grid-template-columns: 225px 75px;
  grid-template-rows: 300px 75px;
  grid-template-areas: "digit op"
                       "clear bs" 
}

#dig-grid{
  display: grid;
  grid-area: digit;
  grid-template-columns:repeat(3, 75px);
  grid-template-rows:repeat(3, 75px);
}

#ops-keys{
  grid-area:op;
  display:grid;
  grid-template-rows: repeat(4, 75px);
  grid-template-columns: 75px;
}

#equals{
  grid-area:digit;
  justify-self:end;
  align-self:end;
}
#display-wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  width:100%;
  padding:5px;
}

#display{
  display:flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 2em;
  margin: 5px 0px;
  padding:5px;
  overflow-x:hidden;
  border: 3px solid #ffbb4d;
  background-color: whitesmoke;
  box-shadow:inset 0px 0px 3px 2px darkorange;
  font-size: 1.5em;
}

#history{
  width: 100%;
  height:auto;
  flex: 1 0;
  margin: 5px 0px;
  padding: 5px;
  height: 50px;
  background-color:lightgray;
  border: 2px solid darkgray;
  box-shadow:inset 0px 0px 3px black;
  word-wrap:break-word;
}
